@import '../../assets/styles/vars.scss';

.wrap {

    .menu_item {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        padding: 10px $yPadding;
        text-decoration: none;

        .text {
            margin-left: 14px;
            color: $mainTextColor;
        }

        &:hover {
            background-color: $secondTextColor;
        }
    }
    
}