@import '../../assets/styles/vars.scss';

.wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: $headerHeight;

    padding-left: $yPadding;
    padding-right: $yPadding;
    border-bottom: 1px solid $borderWhite;

    .selected {
        .title {
            font-size: 22px;
            white-space: nowrap;
        }

        .company {
            margin-top: 6px;
            font-size: 15px;
        }
    }

    .select_button {
        transform: rotate(90deg);
    }
}