@import '../../assets/styles/vars.scss';

.wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 12px $yPadding;
    border-bottom: 1px solid $borderWhite;

    .selected {
        .title {
            font-size: 22px;
            white-space: nowrap;
        }

        .company {
            margin-top: 8px;
        }
    }

    .select_button {
        transform: rotate(90deg);
    }
}